  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      rgb(10, 10, 10) 60%
    );
  }
  html {
    font-family: "Dm Mono", system-ui, sans-serif;
    background: #ffffff;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #ebc477c5 1px, transparent 1px),
      linear-gradient(to bottom, #ebc477c5 1px, transparent 1px);
  }

  body {
    padding-top: 80px;
  }