---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontakt - shroom-mates">
  <main>
    <h1>Schreib uns was Nettes</h1>
    <div class="content">
      <form method="POST" id="form">
        <input
          type="hidden"
          name="access_key"
          value="d69f2b91-fe55-4258-97a9-6bb53285b5e2"
        />
        <div class="form-group">
          <label for="name">Dein Name</label>
          <input type="text" id="name" name="name" required />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="message">Nachricht</label>
          <textarea id="message" name="message" required></textarea>
        </div>

        <button type="submit" class="cta-button primary">Abschicken</button>
        <div id="result"></div>
      </form>
    </div>
    <script is:inline>
      const form = document.getElementById("form");
      const result = document.getElementById("result");

      form.addEventListener("submit", function (e) {
        const formData = new FormData(form);
        e.preventDefault();

        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.innerHTML = "Bitte warten...";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: json,
        })
          .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
              result.innerHTML = json.message;
            } else {
              console.log(response);
              result.innerHTML = json.message;
            }
          })
          .catch((error) => {
            console.log(error);
            result.innerHTML = "Ups, das hat nicht geklappt...";
          })
          .then(function () {
            form.reset();
            setTimeout(() => {
              result.style.display = "none";
            }, 3000);
          });
      });
    </script>
  </main>

  <style>
    main {
      font-size: 20px;
      line-height: 1.6;
      padding: 2rem;
      min-height: 100vh;
    }
    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin: 3rem 0;
    }
    .content {
      max-width: 600px;
      margin: 0 auto;
      padding: 0rem;
    }
    .form-group {
      margin-bottom: 1.5rem;
    }
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 2px solid #5f5f5f;
      border-radius: 4px;
      font-family: inherit;
    }
    textarea {
      height: 150px;
      resize: vertical;
    }

    .cta-button {
      padding: 1rem 2rem;
      font-size: 1.1rem;
      font-weight: 600;
      border: none;
      border-radius: 0;
      cursor: pointer;
      transition: all 0.2s;
      font-family: "Dm Mono", monospace;
      text-transform: uppercase;
    }

    .cta-button.primary {
      background-color: #fdfdfd;
      color: #000;
      box-shadow: 6px 6px #000;
    }

    .cta-button.primary:hover {
      transform: translate(2px, 2px);
      box-shadow: 4px 4px #000;
    }

    .cta-button.secondary {
      background-color: transparent;
      border: 2px solid #fdfdfd;
      color: #fdfdfd;
      box-shadow: 6px 6px rgba(0, 0, 0, 0.8);
    }

    .cta-button.secondary:hover {
      transform: translate(2px, 2px);
      box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
    }
  </style>
</Layout>
