---
import TextBox from "./TextBox.astro";

interface Props {
  name: string;
  description: string;
  color?: string;
  imageSrc: string;
}

const { name, description, color = "black", imageSrc } = Astro.props;
---

<style define:vars={{ color }}>
  .image-wrapper {
    display: flex;
    justify-content: flex-end; /* Aligns image to the right */
    height: 300px;
    position: relative; /* Keep the image inside the wrapper */
  }

  .image-wrapper > img {
    width: 40vw; /* 40% of the viewport width */
    height: 500px; /* Maintain aspect ratio by allowing the height to scale */
    object-fit: cover; /* Prevent stretching and preserve the aspect ratio */
    max-width: 100%; /* Prevent the image from exceeding its natural width */
    position: relative;
    right: 0; /* Keep the image aligned to the right */
  }

  .text-wrapper {
    position: relative;
    top: -80px;
    padding: 10px;
  }

  h3 {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 0;
    padding: 10px;
  }

  .description {
    max-width: 75%;
  }

  .box {
    background-color: #fdfdfd;
    box-shadow: 6px 6px var(--color);
  }
</style>
<section>
  <article>
    <div class="image-wrapper">
      <img src={imageSrc} />
    </div>
    <div class="text-wrapper">
      <TextBox color={color} text={name} />
      <p class="description box">{description}</p>
    </div>
  </article>
  <!-- Add more mushroom types as needed -->
</section>
