---
interface Props {
  text: string;
  color?: string;
}

const { text, color = "black" } = Astro.props;
---

<style define:vars={{ color }}>
  .box {
    font-size: 1rem;
    background-color: var(--bg-color);
    box-shadow: 6px 6px var(--color);
    padding: 10px;
  }
</style>

<p class="box">{text}</p>
