---
import "@fontsource/dm-mono";

interface Props {
  title: string;
}

const { title } = Astro.props;

import HamburgerMenu from "../components/HamburgerMenu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <HamburgerMenu />

    <slot />

    <footer>
      <p>© 2024 shroom-mates, All rights reserved.</p>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      rgb(10, 10, 10) 60%
    );
  }
  html {
    font-family: "Dm Mono", system-ui, sans-serif;
    background: #ffffff;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #ebc477c5 1px, transparent 1px),
      linear-gradient(to bottom, #ebc477c5 1px, transparent 1px);
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
